@model CmsShoppingCart.Areas.Admin.Models.CashDeskClosingDetailsDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashDeskClosingDetailsDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CashDesksClosing.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDesksClosing.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.FirstName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
