<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Diginamo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>

        #fb-btn{ margin-top: 15px; }
        #profile, #logout {display:none}

    </style>

</head>
<body>

    @*/////////Facebook//////////*@


    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '126114841433571',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.11'
    });


        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {

            if (response.status === 'connected') {
                
                console.log('Logged and authenticated');
                setElements(true);
                testAPI();

            } else {

                console.log('Not authenticated');
                setElements(false);

            }

        }
        
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function testAPI() {

            FB.api('/me?fields= name, email', function (response) {

                if (response && !response.error) {

                    buildProfile(response);

                }

            })

        }

        function buildProfile(user) {

            let profile = `

            <h3>${user.name}</h3>
            <ul class = "list-group">
              <li class = "list-group-item"> User ID: ${user.id} </li>
              <li class = "list-group-item"> Email: ${user.email} </li>
            </ul>

            `;

            document.getElementById('profile').innerHTML = profile;

        }

        function setElements(isLoggedIn) {

            if (isLoggedIn) {
                
                document.getElementById('logout').style.display = 'block';
                document.getElementById('profile').style.display = 'block';
                document.getElementById('fb-btn').style.display = 'none';
                document.getElementById('heading').style.display = 'none';

            } else {

                document.getElementById('logout').style.display = 'none';
                document.getElementById('profile').style.display = 'none';
                document.getElementById('fb-btn').style.display = 'none';
                document.getElementById('heading').style.display = 'none';

            }

        }

        function logout() {

            FB.logout(function (response) {
                setElements(false);
            });

        }

    </script>


    

    @*/////////////////////*@


    <div class="navbar navbar-inverse navbar-fixed-topcancel">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Diginamo</a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li><a id="logout" href="#" onclick="logout()">Logout</a>   </li>
                <fb:login-button 
                 id="fb-btn"
                 scope="public_profile,email"
                 onlogin="checkLoginState();">
                </fb:login-button>

            </ul>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.Action("PagesMenuPartial", "Pages");
                        @if (Request.IsAuthenticated)
                        {

                            <a href="#" class="setElements "></a>
                            <li><a href="/account/logout">Logout</a></li>
                        }
                        else
                        {
                            if (ViewBag.Title == "Login")
                            {
                                <li class="active"><a href="/account/login">Login</a></li>
                            }
                            else
                            {
                                <li><a href="/account/login">Login</a></li>
                            }
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("User") || Request.IsAuthenticated && User.IsInRole("Employee"))
                        {
                            if (ViewBag.Title == "User Profile" || ViewBag.Title == "Orders")
                            {
                                <li class="active">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                            }
                            else
                            {
                                <li>@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                            }
                        }
                    </ul>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <ul class="navbar-collapse collapse navbar-right adminarea">
                            <li>@Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null) </li>
                        </ul>
                    }
                    else
                    {

                        if (Request.IsAuthenticated)
                        {


                            if (ViewBag.Title != "Cart Details")
                            {
                                <ul class="navbar-collapse collapse navbar-right">
                                    @Html.Action("CartPartial", "Cart")
                                </ul>
                            }

                        }
                    }


                </div>
</div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>

            @if (ViewBag.Title != "Create Account" &&
                ViewBag.Title != "Login" &&
                ViewBag.Title != "User Profile" &&
                ViewBag.Title != "Orders"
                )
            {
                <div class="col-xs-12 col-md-2">
                    @Html.Action("CategoryMenuPartial", "Shop")
                </div>
            }

            @if (ViewBag.Title == "User Profile")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/orders">My Orders</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Title == "Orders")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/user-profile">My Profile</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col-xs-12 col-md-7">
                    @RenderBody()
                </div>
                <div class="col-xs-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages")
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-10">
                    @RenderBody()
                </div>
            }

        </div>

        <hr />

    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

    <div class="container">

        <h3 id="heading">Log in to view your profile</h3>
        <div id="profile"></div>

    </div>

</body>
</html>
